html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 50px;
}

body {
  font-family: "font", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
  
}

.links {
  display: inline-block;
  margin: 0;
  margin-bottom: 50px;
}

.links a + a {
  margin-left: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.content h1, h2, h3 {
  margin: 0 0 40px;
  margin-bottom: 10px;
}

.content p {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
}

.content p:last-child{
  margin-bottom: 0;
}



.content.content-acsent {
  display: inline-block;
  border-radius: 20px;
  padding: 30px ;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.content.content-acsent p{
  width: 692px;
  margin-bottom: 10px;

}

ul{
  display:inline-block;
  margin: 0 0 1em;
  padding-left: 0px;
}
ul:last-child{
  margin-right: 0px;
  margin-bottom: 0px;
}
li {
  margin-left: 15px;
  margin-bottom: 20px;
}
li:last-child {
  margin-bottom: 0px;
}

figure {
  display: inline-block;
  margin:0 0 40px 0;
  width: 872px;
}

.content.content-acsent:last-child{
  margin-bottom: 0;
}